<ion-header translucent>
    <ion-toolbar>

        <div class="titleicon">

            <img src="../../../assets/img/logo_with_carre.png" alt="">
        </div>

    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
    <div class="body">

        <ion-grid fixed>
            <ion-row>
                <ion-col size="2">
                    <ion-fab-button color="light" style="zoom: 0.8;" (click)="retour()">
                        <ion-icon name="chevron-back-outline"></ion-icon>
                    </ion-fab-button>
                </ion-col>
                <ion-col size="10">
                    <ion-button expand="block" size="default" shape="round" color="light">
                        Faire un don
                    </ion-button>

                </ion-col>

                <ion-col size="12">

                    <p style="text-align: center;font-size: medium;color:#fff;font-weight: bold;margin-left: 30px;margin-right: 30px;">Votre générosité assure notre évolution et votre don notre vision</p>
                    <br><br><br>
                </ion-col>

                <ion-col size="12">
                    <div class="body2">
                        <ion-row>
                            <ion-col size="12">
                                <ion-img src="../../../assets/img/don/om.png"></ion-img>
                            </ion-col>
                            <ion-col size="12">
                                <ion-img src="../../../assets/img/don/fm.png"></ion-img>
                            </ion-col>
                            <ion-col size="12">
                                <ion-img src="../../../assets/img/don/paypal .png"></ion-img>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-col>




            </ion-row>

        </ion-grid>

    </div>
</ion-content>