<ion-header translucent>
    <ion-toolbar>

        <div class="titleicon">

            <img src="../../../assets/img/logo_with_carre.png" alt="">
        </div>

    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
    <div class="body">

        <ion-grid fixed>
            <ion-row>
                <ion-col size="2">
                    <ion-fab-button color="light" style="zoom: 0.8;" (click)="retour()">
                        <ion-icon name="chevron-back-outline"></ion-icon>
                    </ion-fab-button>
                </ion-col>
                <ion-col size="10">
                    <ion-button expand="block" size="default" shape="round" color="light">
                        <p> <strong>HIMMA</strong></p>
                    </ion-button>

                </ion-col>

                <ion-col size="12">
                    <div class="body2">
                        <br>
                        <p><b>Politique de confidentialité de </b></p>
                        <p style="text-align: left;margin-left: 15px;font-family: Arial, Helvetica, sans-serif !important;">Cette application recueille certaines données personnelles de ses utilisateurs.</p>
                        <br>
                        <p style="text-align: left;margin-left: 15px;"><b>Types de données collectées</b></p><br>
                        <P style="text-align: justify; margin-left: 10px;margin-right: 10px; font-family: Arial, Helvetica, sans-serif !important;">
                            Parmi les types de données personnelles que cette application collecte, par elle-même ou par l'intermédiaire de tiers, il y a: les cookies; Données d'utilisation; identifiants d'appareil uniques; Prénom; nom de famille; adresse e-mail. Des détails complets
                            sur chaque type de données personnelles collectées sont fournis dans les sections dédiées de cette politique de confidentialité ou par des textes explicatifs spécifiques affichés avant la collecte des données. Les données personnelles
                            peuvent être librement fournies par l'utilisateur ou, en cas de données d'utilisation, collectées automatiquement lors de l'utilisation de cette application. <br> Sauf indication contraire, toutes
                            les données demandées par cette application sont obligatoires et le défaut de fournir ces données peut empêcher cette application de fournir ses services. Dans les cas où cette Application indique spécifiquement que certaines
                            Données ne sont pas obligatoires, les Utilisateurs sont libres de ne pas communiquer ces Données sans conséquences sur la disponibilité ou le fonctionnement du Service.<br> Les utilisateurs qui ne savent pas quelles données
                            personnelles sont obligatoires sont invités à contacter le propriétaire.<br> Toute utilisation de cookies - ou d'autres outils de suivi - par cette application ou par les propriétaires de services tiers utilisés par cette application
                            sert à fournir le service requis par l'utilisateur, en plus de toutes autres fins décrites dans le présent document et dans la politique relative aux cookies, si disponible. Les utilisateurs sont responsables de toutes les
                            données personnelles de tiers obtenues, publiées ou partagées via cette application et confirment qu'ils ont le consentement du tiers pour fournir les données au propriétaire.
                            <br><br>
                            <b>Méthodes de traitement</b>
                            <br><br> Le Propriétaire prend les mesures de sécurité appropriées pour empêcher l'accès non autorisé, la divulgation, la modification ou la destruction non autorisée des Données. Le traitement des données est effectué à l'aide
                            d'ordinateurs et / ou d'outils informatiques, en suivant des procédures organisationnelles et des modes strictement liés aux finalités indiquées.
                            <br><br>
                            <b>Temps de rétention</b> Les données personnelles seront traitées et conservées aussi longtemps que l'exige la finalité pour laquelle elles ont été collectées.
                            <br><br> • Les données personnelles collectées à des fins liées à l'exécution d'un contrat entre le propriétaire et l'utilisateur seront conservées jusqu'à ce que ce contrat soit pleinement exécuté. <br><br>• Les données personnelles
                            collectées aux fins des intérêts légitimes du propriétaire seront conservées aussi longtemps que nécessaire pour atteindre ces objectifs. Les utilisateurs peuvent trouver des informations spécifiques concernant les intérêts
                            légitimes poursuivis par le propriétaire dans les sections pertinentes de ce document ou en contactant le propriétaire. <br><br> Le propriétaire peut être autorisé à conserver les données personnelles pendant une période plus
                            longue chaque fois que l'utilisateur a donné son consentement à un tel traitement, tant que ce consentement n'est pas retiré. En outre, le propriétaire peut être obligé de conserver les données personnelles pendant une période
                            plus longue chaque fois qu'il est requis de le faire pour l'exécution d'une obligation légale ou sur ordre d'une autorité.<br><br> Une fois la période de conservation expirée, les données personnelles seront supprimées. Par
                            conséquent, le droit d'accès, le droit d'effacement, le droit de rectification et le droit à la portabilité des données ne peuvent être appliqués après l'expiration de la période de conservation.<br><br>
                            <b>Les finalités du traitement</b>
                            <br><br> Les Données concernant l'Utilisateur sont collectées pour permettre au Propriétaire de fournir son Service, de se conformer à ses obligations légales, de répondre aux demandes d'exécution, de protéger ses droits et
                            intérêts (ou ceux de ses Utilisateurs ou de tiers), de détecter toute activité malveillante ou frauduleuse, ainsi que les éléments suivants: enregistrement et authentification, analyse et gestion de la base de données des utilisateurs.<br><br>                            Pour des informations spécifiques sur les Données Personnelles utilisées pour chaque finalité, l'Utilisateur peut se référer à la section «Informations détaillées sur le traitement des Données Personnelles».
                            <br><br>
                            <b>Les droits des utilisateurs</b>
                            <br><br> Les utilisateurs peuvent exercer certains droits concernant leurs données traitées par le propriétaire. <br><br> En particulier, les utilisateurs ont le droit de faire ce qui suit: <br><br> • Retirer leur consentement
                            à tout moment. Les utilisateurs ont le droit de retirer leur consentement lorsqu'ils ont préalablement donné leur consentement au traitement de leurs données personnelles. <br><br> • S'opposer au traitement de leurs données.
                            Les utilisateurs ont le droit de s'opposer au traitement de leurs données si le traitement est effectué sur une base légale autre que le consentement. De plus amples détails sont fournis dans la section dédiée ci-dessous. <br><br>                            • Accédez à leurs données. Les utilisateurs ont le droit de savoir si les données sont en cours de traitement par le propriétaire, d'obtenir des informations sur certains aspects du traitement et d'obtenir une copie des données
                            en cours de traitement. <br><br> • Vérifiez et demandez une rectification. Les utilisateurs ont le droit de vérifier l'exactitude de leurs données et de demander qu'elles soient mises à jour ou corrigées. <br><br> • Restreindre
                            le traitement de leurs données. Les utilisateurs ont le droit, dans certaines circonstances, de restreindre le traitement de leurs données. Dans ce cas, le Propriétaire ne traitera pas ses Données à des fins autres que de les
                            stocker. <br><br> • Faire supprimer ou supprimer leurs données personnelles. Les utilisateurs ont le droit, dans certaines circonstances, d'obtenir l'effacement de leurs données auprès du propriétaire. <br><br>
                            <b>Détails sur le droit de s'opposer au traitement</b>
                            <br><br> Lorsque les données personnelles sont traitées dans un intérêt public, dans l'exercice d'une autorité officielle dévolue au propriétaire ou aux fins des intérêts légitimes poursuivis par le propriétaire, les utilisateurs
                            peuvent s'opposer à ce traitement en fournissant un motif lié à leur situation particulière à justifier l'objection. Les utilisateurs doivent toutefois savoir que si leurs données personnelles sont traitées à des fins de marketing
                            direct, ils peuvent s'opposer à ce traitement à tout moment sans fournir aucune justification. Pour savoir si le propriétaire traite des données personnelles à des fins de marketing direct, les utilisateurs peuvent se référer
                            aux sections pertinentes de ce document.
                            <br><br>
                            <b>Comment exercer ces droits</b>
                            <br><br> Toute demande d'exercice des droits d'utilisateur peut être adressée au propriétaire via les coordonnées fournies dans ce document. Ces demandes peuvent être exercées gratuitement et seront traitées par le Propriétaire
                            le plus tôt possible et toujours dans un délai d'un mois
                            <br><br>
                            <b>Contact</b>
                            <br>
                        </P>
                        <p>
                            Cette application est fournie par : DIGI221 - Dakar, Sénégal <br><b>Site web du propriétaire</b> : www.digi221.com <br><b> Email du propriétaire </b>: groupedigi221@gmail.com
                        </p>



                    </div>
                </ion-col>




            </ion-row>

        </ion-grid>

    </div>
</ion-content>
