<ion-header translucent>
    <ion-toolbar>

        <div class="titleicon">

            <img src="../../../assets/img/logo_with_carre.png" alt="">
        </div>

    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
    <div class="body">

        <ion-grid fixed>
            <ion-row>
                <ion-col size="2">
                    <ion-fab-button color="light" style="zoom: 0.8;" (click)="retour()">
                        <ion-icon name="chevron-back-outline"></ion-icon>
                    </ion-fab-button>
                </ion-col>
                <ion-col size="10">
                    <ion-button expand="block" size="default" shape="round" color="light">
                        <p> Conditions générales de <strong>HIMMA</strong></p>
                    </ion-button>

                </ion-col>

                <ion-col size="12">
                    <div class="body2">


                        <p style="text-align: left;margin-left: 15px;">Ces conditions régissent</p>
                        <br>
                        <p style="text-align: left;margin-left: 15px;font-family: Arial, Helvetica, sans-serif !important;"> • l'utilisation de cette application, et,</p>
                        <P style="text-align: justify; margin-left: 10px;margin-right: 10px;font-family: Arial, Helvetica, sans-serif !important;">
                            • tout autre accord connexe ou relation juridique avec le propriétaire d'une manière juridiquement contraignante. Les mots en majuscules sont définis dans la section dédiée correspondante de ce document. <br><br> L'Utilisateur
                            doit lire attentivement ce document. <br>
                            <b>Ce que l'utilisateur doit savoir en un coup d'œil</b> <br> • Cette application est entièrement gratuite et ne comportera aucune publicité. <br>• Aucune fonctionnalité « Premium » ne sera proposée moyennant une contrepartie
                            financière.
                            <br>• Les utilisateurs ont le choix de faire un don afin de soutenir le travail du propriétaire mais ne seront en aucune façon contraints de faire une telle action.<br> • Veuillez noter que certaines dispositions des présentes
                            Conditions ne peuvent s'appliquer qu'à certaines catégories d'utilisateurs. En particulier, certaines dispositions peuvent s'appliquer uniquement aux consommateurs ou aux utilisateurs qui ne sont pas qualifiés de consommateurs.
                            Ces limitations sont toujours explicitement mentionnées dans chaque clause affectée. En l'absence d'une telle mention, les clauses s'appliquent à tous les Utilisateurs. <br><br><br> <b>CONDITIONS D'UTILISATION </b> <br><br>Sauf
                            indication contraire, les conditions d'utilisation détaillées dans cette section s'appliquent généralement lors de l'utilisation de cette application. Des conditions d'utilisation ou d'accès uniques ou supplémentaires peuvent
                            s'appliquer dans des scénarios spécifiques et, dans de tels cas, sont en outre indiquées dans ce document. En utilisant cette application, les utilisateurs confirment répondre à l’exigence suivante : <br> • Il n'y a aucune
                            restriction pour les utilisateurs en ce qui concerne le fait d'être des consommateurs ou des utilisateurs professionnels;
                            <br><br>
                            <b>Enregistrement du Compte</b><br><br> Pour utiliser le service, les utilisateurs peuvent s'inscrire ou créer un compte utilisateur, en fournissant toutes les données ou informations requises de manière complète et véridique.

                            <br><br> Les utilisateurs peuvent également utiliser le service sans enregistrer ni créer de compte utilisateur, et cela n’entraînera pas une disponibilité limitée de certaines fonctionnalités ou fonctions.
                            <br><br> Les utilisateurs sont responsables de la confidentialité et de la sécurité de leurs identifiants de connexion. Pour cette raison, les utilisateurs sont également tenus de choisir des mots de passe qui répondent aux
                            normes de résistance les plus élevées autorisées par cette application.
                            <br><br> En s'inscrivant, les utilisateurs acceptent d'être entièrement responsables de toutes les activités qui se produisent sous leur nom d'utilisateur et mot de passe.
                            <br><br> Les utilisateurs sont tenus d'informer immédiatement et sans ambiguïté le propriétaire via les coordonnées indiquées dans ce document, s'ils pensent que leurs informations personnelles, y compris, mais sans s'y limiter,
                            les comptes d'utilisateurs, les identifiants d'accès ou les données personnelles, ont été violées, indûment divulguées ou volées.

                            <br><br>
                            <b>Résiliation de compte</b>
                            <br><br> Les utilisateurs peuvent résilier leur compte et cesser d'utiliser le service à tout moment en procédant comme suit:<br><br> • En utilisant les outils fournis pour la résiliation de compte sur cette application. <br>                            • En contactant directement le propriétaire aux coordonnées fournies dans ce document. <br><br>

                            <b>Suspension et suppression de compte</b> <br><br> Le Propriétaire se réserve le droit, à sa seule discrétion, de suspendre ou de supprimer à tout moment et sans préavis, les comptes d'utilisateurs qu'il juge inappropriés,
                            offensants ou en violation des présentes Conditions.
                            <br><br> La suspension ou la suppression des comptes utilisateurs ne donnera droit à aucune demande d'indemnisation, de dommages-intérêts.
                            <br><br>
                            <b>Contenu sur cette application</b>
                            <br><br> Sauf indication contraire ou clairement reconnaissable, tout le contenu disponible sur cette Application appartient ou est fourni par le Propriétaire ou ses concédants de licence.
                            <br><br> Le Propriétaire fait tout son possible pour s'assurer que le contenu fourni sur cette Application ne viole aucune disposition légale applicable ou droits de tiers. Cependant, il n'est pas toujours possible d'obtenir
                            un tel résultat.
                            <br><br> Dans de tels cas, sans préjudice des prérogatives légales des Utilisateurs de faire valoir leurs droits, les Utilisateurs sont priés de signaler de préférence les réclamations connexes en utilisant les coordonnées
                            fournies dans ce document.
                            <br><br>
                            <b>Droits concernant le contenu de cette application - Tous droits réservés</b>
                            <br><br> Le propriétaire détient et se réserve tous les droits de propriété intellectuelle pour un tel contenu. <br><br> Les utilisateurs ne peuvent donc pas utiliser ce contenu d'une manière qui n'est pas nécessaire ou implicite
                            dans la bonne utilisation du service. <br><br> En particulier, mais sans limitation, les utilisateurs ne peuvent pas copier, télécharger, partager (au-delà des limites énoncées ci-dessous), modifier, traduire, transformer,
                            publier, transmettre, vendre, sous-licencier, modifier, transférer / céder à des tiers ou créer des œuvres dérivées. à partir du contenu disponible sur cette Application, ni permettre à un tiers de le faire via l'Utilisateur
                            ou son appareil, même à l'insu de l'Utilisateur. <br><br> Lorsque cela est explicitement indiqué sur cette application, l'utilisateur peut télécharger, copier et / ou partager certains contenus disponibles via cette application
                            pour son seul usage personnel et non commercial et à condition que les attributions de droits d'auteur et toutes les autres attributions demandées par le propriétaire soient correctement mises en œuvre. <br><br> Toute limitation
                            statutaire ou exception au droit d'auteur applicable reste inchangée. <br><br>

                            <b>Utilisation acceptable</b>

                            <br><br> Cette Application et le Service ne peuvent être utilisés que dans le cadre de ce pour quoi ils sont prévus, en vertu des présentes Conditions et de la loi applicable. <br><br> Les utilisateurs sont seuls responsables
                            de s'assurer que leur utilisation de cette application et / ou du service ne viole aucune loi, réglementation ou droit de tiers applicable. <br><br> Par conséquent, le Propriétaire se réserve le droit de prendre toute mesure
                            appropriée pour protéger ses intérêts légitimes, y compris en refusant aux Utilisateurs l'accès à cette Application ou au Service, en mettant fin aux contrats, en signalant toute faute commise par le biais de cette Application
                            ou du Service aux autorités compétentes - telles que judiciaires ou autorités administratives - chaque fois que les utilisateurs se livrent ou sont soupçonnés de se livrer à l'une des activités suivantes:
                            <br><br> • enfreindre les lois, règlements et / ou ces conditions; <br><br> • enfreindre les droits de tiers; <br><br> • nuire considérablement aux intérêts légitimes du propriétaire; <br><br> • offenser le propriétaire ou
                            tout tiers. <br><br>
                            <b>Conditions d'utilisation de l'API</b>
                            <br><br> Les utilisateurs peuvent accéder à leurs données relatives à cette application via l'interface de programme d'application (API). Toute utilisation de l'API, y compris l'utilisation de l'API via un produit / service
                            tiers qui accède à cette Application, est liée par les présentes Conditions et, en outre, par les conditions spécifiques suivantes:
                            <br><br> • L'Utilisateur comprend et accepte expressément que le Propriétaire n'assume aucune responsabilité et ne sera pas tenu responsable des dommages ou pertes résultant de l'utilisation de l'API par l'Utilisateur ou de
                            son utilisation de produits / services tiers qui accèdent aux données via l'API.
                            <br><br>
                            <b>Dispositions communes</b>
                            <br><br>
                            <b>Aucune renonciation</b>
                            <br><br> Le défaut du propriétaire de faire valoir un droit ou une disposition en vertu des présentes conditions ne constitue pas une renonciation à un tel droit ou à une telle disposition. Aucune renonciation ne sera considérée
                            comme une renonciation supplémentaire ou continue à une telle condition ou à toute autre condition.
                            <br><br>
                            <b>Interruption de service</b>
                            <br><br> Pour assurer le meilleur niveau de service possible, le propriétaire se réserve le droit d'interrompre le service pour la maintenance, les mises à jour du système ou tout autre changement, en informant les utilisateurs
                            de manière appropriée. <br><br> Dans les limites de la loi, le Propriétaire peut également décider de suspendre ou de résilier complètement le Service. Si le service est résilié, le propriétaire coopérera avec les utilisateurs
                            pour leur permettre de retirer des données personnelles ou des informations conformément à la loi applicable. <br><br> De plus, le Service peut ne pas être disponible pour des raisons indépendantes de la volonté raisonnable
                            du Propriétaire, telles que la «force majeure» (par exemple, des actions de travail, des pannes d'infrastructure ou des pannes d'électricité, etc.) <br><br>
                            <b>Revente de services</b>
                            <br><br> Les utilisateurs ne peuvent pas reproduire, dupliquer, copier, vendre, revendre ou exploiter toute partie de cette application et de son service sans l'autorisation écrite préalable expresse du propriétaire, accordée
                            directement ou par le biais d'un programme de revente légitime.
                            <br><br>
                            <b>Droits de propriété intellectuelle</b>
                            <br><br> Sans préjudice de toute disposition plus spécifique des présentes Conditions, tous les droits de propriété intellectuelle, tels que les droits d'auteur, les droits de marque, les droits de brevet et les droits de conception
                            liés à cette Application sont la propriété exclusive du Propriétaire ou de ses concédants de licence et sont soumis à la protection accordée par lois applicables ou traités internationaux relatifs à la propriété intellectuelle.
                            <br><br> Toutes les marques - nominales ou figuratives - et toutes les autres marques, noms commerciaux, marques de service, marques verbales, illustrations, images ou logos apparaissant en relation avec cette application sont,
                            et restent, la propriété exclusive du propriétaire ou de ses concédants de licence et sont soumis à la protection accordée par les lois applicables ou les traités internationaux relatifs à la propriété intellectuelle. <br><br>
                            <b>Modifications de ces conditions</b>
                            <br><br> Le propriétaire se réserve le droit d'amender ou de modifier autrement ces conditions à tout moment. Dans de tels cas, le propriétaire informera de manière appropriée l'utilisateur de ces changements. <br><br> De tels
                            changements n'affecteront que la relation avec l'utilisateur à l'avenir. <br><br> L’utilisation continue du Service signifiera l’acceptation par l’Utilisateur des Conditions révisées. Si les Utilisateurs ne souhaitent pas être
                            liés par les modifications, ils doivent cesser d'utiliser le Service. Le fait de ne pas accepter les Conditions révisées peut autoriser l'une ou l'autre des parties à résilier le Contrat. <br><br> La version précédente applicable
                            régira la relation avant l'acceptation de l'Utilisateur. L'Utilisateur peut obtenir n'importe quelle version précédente auprès du Propriétaire. <br><br> Si la loi applicable l'exige, le Propriétaire précisera la date à laquelle
                            les Conditions modifiées entreront en vigueur. <br><br>
                            <b>Contact</b>
                        </P>
                        <P>
                            <br><br> Cette application est fournie par :<br><br> DIGI221 - Dakar, Sénégal<br><br>

                            <b>Site web du propriétaire :</b> www.digi221.com<br><br>

                            <b>Email du propriétaire :</b> groupedigi221@gmail.com<br><br>

                        </P>




                    </div>
                </ion-col>




            </ion-row>

        </ion-grid>

    </div>
</ion-content>
