<ion-header translucent>
    <ion-toolbar>
        <ion-row>
            <ion-col size="2">
                <ion-button (click)="retour()" color="success">
                    <ion-icon slot="icon-only" name="arrow-back-outline" style="zoom: 0.5;"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col size="8">
                <div class="titleicon">

                    <img src="../../../assets/img/himma_logo.png" alt="" style="width: 50px;">
                </div>
            </ion-col>
            <ion-col size="2">
                <div class="titleicon2">
                    <img src="../../../assets/img/menu//Bouton_profil.png" alt="" style="zoom: 1;">
                </div>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
    <div class="body">

        <ion-row>
            <ion-col size="12" *ngIf="nafila.jour != ''">
                <ion-card *ngIf="showRecommendation == false " class="card" style="margin-top: 80%;background-color: transparent;">
                    <p *ngIf="nafila && nafila.jour == 1" style="font-weight: bold;font-size: large;color: #cc9933;">{{nafila.jour}}ère Nuit</p>
                    <p *ngIf="nafila && nafila.jour != 1" style="font-weight: bold;font-size: large;color: #cc9933;">{{nafila.jour}}ème Nuit</p>
                    <p style="font-weight: bold;font-size: large;color: #cc9933;margin-top: -15px;">{{nafila.nbrakka}} RAkka</p>
                    <p style="font-weight: bold;font-size: large;color: #FFFF;">fâtiha (1fois)</p>
                    <p *ngFor="let item of nafila.rakkas" style="font-weight: bold;font-size: large;color: #FFFF; margin-top: -10px;">{{item.sarr}} ({{item.nombre}}fois)</p>
                    <p style="font-weight: bold;font-size: large;color:#cc9933;text-align: center;margin-left: -20px;">
                        {{datenow}}
                    </p>

                    <ion-button (click)="voir()" expand="block" shape="round" color="success">
                        Voir les Bienfaits
                    </ion-button>




                </ion-card>

                <ion-card *ngIf="showRecommendation == true " class="card" style="margin-top: 90%;background-color: transparent;">
                    <p style="font-weight: bold;font-size: small;color: #FFFF;" [innerHTML]="nafila.commentaire">

                    </p>
                    <ion-button (click)="voir()" expand="block" shape="round" color="success">
                        Voir Nafila
                    </ion-button>

                </ion-card>

            </ion-col>
            <ion-col size="12" *ngIf="nafila.jour == ''">
                <ion-card *ngIf="showRecommendation == false " class="card" style="margin-top: 80%;background-color: transparent;">
                    <p *ngIf="nafila && nafila.jour == 1" style="font-weight: bold;font-size: large;color: #cc9933;text-align: center;">
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </p>
                    <p *ngIf="nafila && nafila.jour != 1" style="font-weight: bold;font-size: large;color: #cc9933;">
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </p>
                    <p style="font-weight: bold;font-size: large;color: #cc9933;margin-top: -15px;">
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </p>
                    <p style="font-weight: bold;font-size: large;color: #FFFF;">
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </p>
                    <p *ngFor="let item of nafila.rakkas" style="font-weight: bold;font-size: large;color: #FFFF; margin-top: -10px;">
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </p>
                    <p style="font-weight: bold;font-size: large;color:#cc9933;text-align: center;margin-left: -20px;">
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </p>

                    <ion-button (click)="voir()" expand="block" shape="round" color="success">
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </ion-button>




                </ion-card>

                <ion-card *ngIf="showRecommendation == true " class="card" style="margin-top: 90%;background-color: transparent;">
                    <p style="font-weight: bold;font-size: small;color: #FFFF;" [innerHTML]="nafila.commentaire">

                    </p>
                    <ion-button (click)="voir()" expand="block" shape="round" color="success">
                        Fermer Recommandations
                    </ion-button>

                </ion-card>

            </ion-col>
        </ion-row>

    </div>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button color="success">
            <ion-icon name="share-social-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button (click)="shareWhatsapp()">
                <ion-icon name="logo-whatsapp"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="end">
            <ion-fab-button (click)="sharfacebook()">
                <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="start ">
            <ion-fab-button (click)="sharInstagram()">
                <ion-icon name="logo-instagram"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <!-- <ion-fab-list side="e">
            <ion-fab-button (click)="shareTwitter()">
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-fab-button>
        </ion-fab-list> -->
    </ion-fab>
</ion-content>