<ion-header translucent>
    <ion-toolbar>
        <ion-row>
            <ion-col size="2">
                <ion-buttons>
                    <ion-menu-button color="success"></ion-menu-button>
                </ion-buttons>
            </ion-col>
            <ion-col size="8">
                <div class="titleicon">

                    <img src="../../../assets/img/himma_logo.png" alt="" style="width: 50px;">
                </div>
            </ion-col>
            <ion-col size="2">
                <div class="titleicon2">
                    <img src="../../../assets/img/menu//Bouton_profil.png" alt="" style="zoom: 1;">
                </div>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>
<ion-content class="background">
    <div class="body">


        <ion-grid>
            <ion-row>
                <ion-col size="2">
                    <ion-fab-button color="light" style="zoom: 0.8;" (click)="retour()">
                        <ion-icon name="chevron-back-outline"></ion-icon>
                    </ion-fab-button>
                </ion-col>
                <ion-col size="10"></ion-col>
            </ion-row>
            <ion-row style="margin-top: 40%">
                <ion-col size="12">
                    <ion-slides pager="false" #slides>
                        <ion-slide>
                            <img src="../../../assets/img/ABLUTION/A1.png" />

                        </ion-slide>
                        <ion-slide>
                            <img src="../../../assets/img/ABLUTION/A2.png" />

                        </ion-slide>
                        <ion-slide>
                            <img src="../../../assets/img/ABLUTION/A3.png" />

                        </ion-slide>
                        <ion-slide>
                            <img src="../../../assets/img/ABLUTION/A4.png" />

                        </ion-slide>
                        <ion-slide>
                            <img src="../../../assets/img/ABLUTION/A5.png" />

                        </ion-slide>
                        <ion-slide>
                            <img src="../../../assets/img/ABLUTION/A6.png" />

                        </ion-slide>
                        <ion-slide>
                            <img src="../../../assets/img/ABLUTION/A7.png" />

                        </ion-slide>
                        <ion-slide>
                            <img src="../../../assets/img/ABLUTION/A8.png" />

                        </ion-slide>
                        <ion-slide>
                            <img src="../../../assets/img/ABLUTION/A9.png" />

                        </ion-slide>
                    </ion-slides>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-fab horizontal="center" *ngIf="hideNext">
                        <ion-fab-button color="primary" style="zoom: 0.8;" (click)="next()">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>
                </ion-col>
                <ion-col size="6">
                    <ion-fab horizontal="center" *ngIf="hidePev">
                        <ion-fab-button color="primary" style="zoom: 0.8;" (click)="prev()">
                            <ion-icon name="chevron-back-outline"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
</ion-content>