<ion-header translucent>
    <ion-toolbar>
        <ion-row>
            <ion-col size="2">
                <ion-buttons>
                    <ion-menu-button color="success"></ion-menu-button>
                </ion-buttons>
            </ion-col>
            <ion-col size="8">
                <div class="titleicon">

                    <img src="../../../assets/img/himma_logo.png" alt="" style="width: 50px;">
                </div>
            </ion-col>
            <ion-col size="2">
                <div class="titleicon2">
                    <img src="../../../assets/img/menu//Bouton_profil.png" alt="" style="zoom: 1;">
                </div>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>
<ion-content class="background">
    <div class="body">


        <ion-grid>
            <ion-row>
                <ion-col size="2">
                    <ion-fab-button color="light" style="zoom: 0.8;" (click)="retour()">
                        <ion-icon name="chevron-back-outline"></ion-icon>
                    </ion-fab-button>
                </ion-col>
                <ion-col size="10"></ion-col>
            </ion-row>
            <ion-row style="margin-top: 35%">
                <ion-col size="12">
                    <P style="font-weight: bold;font-size: large;color: green;align-content: center;">
                        Les conditions relatives aux vêtements Portés pendant la prière
                    </P>
                </ion-col>
                <ion-col size="6">
                    <img src="../../../assets/img/vetement/Homme_icon.png" alt="">
                    <p style="font-weight: bold;color: rgb(47, 115, 241);">HOMME</p>
                </ion-col>
                <ion-col size="6">
                    <img src="../../../assets/img/vetement/Femme_icon.png" alt="">
                    <p style="font-weight: bold;color: rgb(221, 69, 196);">FEMME</p>
                </ion-col>
            </ion-row>

        </ion-grid>

    </div>
</ion-content>